@import "tailwindcss";

:root {
  /* dummy */
  --font-pretendard: sans-serif;
  --font-binggrae: serif;
}

@theme {
  /* breakpoint */
  --breakpoint-xs: 30rem;

  /* font */
  --font-sans: var(--font-pretendard), sans-serif;
  --font-serif: var(--font-binggrae), serif;

  /* text */
  --text-h1: clamp(1.8rem, 1.8rem + 2vw, 4.5rem);
  /*--text-h2: clamp(0.6875rem, 0.6875rem + 2vw, 3rem);*/
  /*--text-h3: clamp(0.875rem, 0.875rem + 2vw, 1.25rem);*/
  --text-h2: clamp(0.875rem, 0.875rem + 2vw, 3rem);
  --text-h3: clamp(0.6875rem, 0.6875rem + 2vw, 1.25rem);
  --text-p: clamp(0.75rem, 0.75rem + 2vw, 1rem);
  /* additional text */
  --text-h2_5: clamp(0.75rem, 0.75rem + 2vw, 2rem);
  --text-h3_5: clamp(0.625rem, 0.625rem + 2vw, 1.125rem);
  --text-description: clamp(0.75rem, 0.75rem + 1vw, 1.125rem);
  --text-small: clamp(0.625rem, 0.625rem + 1vw, 1rem);


  /* color text */
  --color-text-black: #2E3038;
  --color-text-gray: #73798C;
  --color-text-white: #9CA3AF;
  --color-text-dark: #6f5842;
  /* color background */
  --color-background-black: #E5E7EB;
  --color-background-gray: #F4F4F4;
  --color-background-red: #C94F3D;
  /* color brand */
  --color-brand-light: #e5dcc980;
  --color-brand-dark: #7a5c4580;
  --color-brand-red: #B5442B;
  --color-brand-blue: #517A94;

  --color-brand-base: #DBD4CE;
  --color-brand-base-dark: #C7BCB3;
}

@layer base {
  * {
    @apply break-keep text-wrap whitespace-pre-line
  }
  h1 {
    font-size: var(--text-h1);
  }
  h2 {
    font-size: var(--text-h2);
  }
  h3 {
    font-size: var(--text-h3);
  }
  p {
    /*font-size: var(--text-p)*/
  }
}

@layer utilities {
  .padding-outer {
    @apply p-[clamp(1rem,2vw,4rem)]
  }
  .text-break {
    @apply break-keep text-wrap whitespace-pre-line
  }
  .transition-ease {
    @apply transition-all duration-300 ease-in-out
  }
  .transition-ease-slow {
    @apply transition-all duration-400 ease-in-out
  }

  .button-brand {
    @apply bg-brand-base hover:bg-brand-base-dark shadow-sm select-none
  }
  .button-brand-outline {
    @apply bg-background-gray ring-brand-base-dark ring-2
  }
  .button-brand-text {
    @apply bg-background-gray text-text-gray hover:text-brand-base-dark outline-2 outline-brand-base-dark
  }
  .button-red {
    @apply bg-brand-red/75 hover:bg-brand-red/100 shadow-sm select-none
  }
  .button-gray {
    @apply bg-background-gray hover:bg-background-black shadow-sm select-none
  }
  .card-gray {
    @apply bg-background-gray/50 hover:bg-background-black/50 outline-1 outline-background-black
  }
}



